<tr>
  <td>
    <%= department.name %> (<%= department.section.name %>)
  </td>
  <td>
    <%= department.contacts.count %>
  </td>
  <td>
    <%= link_to "Zobraziť detail", department, class: "button is-info is-light" %>
  </td>
</tr>