<div class="columns">
  <div class="column">
    <h1 class="is-size-4 pb-5">Editovať odbor</h1>
  </div>
  <div class="column to-right">
    <%= link_to "Späť na odbor", @department, class: "button is-light" %>
  </div>
</div>

<%= render "form", department: @department %>
