<div class="columns">
  <div class="column">
    <h1 class="is-size-4 pb-5">Pridať nové oddelenie</h1>
  </div>
  <div class="column to-right">
    <%= link_to "Späť na zoznam oddelení", sections_path, class: "button is-light" %>
  </div>
</div>

<%= render "form", section: @section %>
