<div class="columns">
  <div class="column">
    <h1 class="is-size-4 pb-5">Detail oddelenia</h1>
  </div>
  <div class="column to-right">
    <%= button_to "Vymazať oddelenie", @section, method: :delete,
        onclick: "return confirm('Ste si isty? Tento krok sa nedá vrátiť späť!');",
        class: "has-background-danger has-text-white"
    %>
    <%= link_to "Editovať oddelenie", edit_section_path(@section), class: "button is-info ml-3" %>
    <%= link_to "Späť na zoznam oddelení", sections_path, class: "button is-light ml-3" %>
  </div>
</div>

<%= render @section %>
