<div class="columns">
  <div class="column">
    <h1 class="is-size-4 pb-5">Editovať kontakt</h1>
  </div>
  <div class="column to-right">
    <%= link_to "Späť na kontakt", @contact, class: "button is-light" %>
  </div>
</div>

<%= render "form", contact: @contact %>
