<div class="columns">
  <div class="column">
    <h1 class="is-size-4 pb-5">Zoznam kontaktov</h1>
  </div>
  <div class="column to-right">
    <%= link_to "Pridať nový kontakt", new_contact_path, class: "button is-info" %>
  </div>
</div>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th></th>
      <th>Priezvisko a Meno</th>
      <th>Klapka</th>
      <th>Odbor / oddelenie</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |contact| %>
      <%= render "contact_list", contact: contact %>
    <% end %>
  </tbody>
</table>


